
<h1>All lists</h1>
<%= link_to "make a new list", new_list_path %>
<ul>
  <% @lists.each do |list| %>
  <% if list.photo.attached? %>
    <%= cl_image_tag(list.photo.key, width: 400, height: 300, crop: :fill) %>
  <% end %>
    <li><%= link_to "See details of: #{list.name}", list_path(list) %> <%= button_to "delete it", list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
<% end %>
</ul>
